@font-face {
    font-family: "Caveat";
    src: url(./Caveat/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(./Lobster/Lobster-Regular.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

body{
    background: url(./patrón-minimalista-gráfico-de-panadería-y-productos-lácteos.jpg   );
    background-size: contain;
}   

h1{
    position: relative;
    text-align: center;
    font-family: "Lobster";
    margin-top: 20px;
    font-size: 4em;
}

nav{
    height: 100px;
    width: 100%;
    background-color: chocolate;
    display:flex;
    flex-direction: row;
    box-shadow: 2px 0px 5px black;
}

#logo{
    height: 100%;
    width: 20%;
    
    
}


#lista{
    height: 100%;
    width: 80%;
    display: inline-block;
    
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin-right: 0px;
}

nav div ul{
    margin-right: 40px;
}

nav div ul li{
    display: inline-block;
    font-family: 'Caveat', cursive;
    decoration: none;
    margin: 15px;
    margin-top: 30px;
}

a{
    text-decoration: none; 
    color: black;
    font-size: 2em;
}

/*FIN HEADER*/
/*COMIENZO SECTION ¿QUIENES SOMOS?*/



section{
    
    width: 100%;
    height: 85vh;
    
    
}

.container{
    
    width: 100%;
    position: absolute;
    margin-top: 10%;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    
    
}

#texto{
    height: 60%;
    width: 40%;
   margin-top: 0%;
    font-weight: bold;
    border-radius: 20px;

}

#texto h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

#texto p{
    font-size: 2em;
    text-align: justify;
}

#imagen{
    width: 40%;
    height: 60%;
    background:url(./churros-caseros_700x466.jpg);
    border-radius: 20px;
}


#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productos h3{
    text-align: center;
    font-size: 3em;
}

.contenedorCaja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 90%;
    height: 75%;
    
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 40px;
    
    box-shadow: 3px 2px 5px black; 
}

.caja .imgProducto{
    margin: 5%;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    border: 1px solid black;
}

.imgProducto img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.caja p{
    font-family: "Lobster";
    font-size: 1.5em;
}

















